.navbar-container {
    background-color: black;
    border: solid 2px red;
    border-radius: 15px;
    color: red;
    height: 5rem;
    width: 80%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .navbar-text-container {
        border: solid 2px blue;
        display: flex;
        flex-direction: row;
    justify-content: space-around;


        .list-navbar {
            display: flex;
            justify-content: space-between;
        }


        ul {
            list-style-type: none;
        }
    }

    .navbar-logo {
        border: solid 2px red;
        width: 7rem;
    }
}
