.navbar-container {
    background: rgb(51, 32, 104);
    background: linear-gradient(90deg, rgba(51, 32, 104, 1) 0%, rgba(51, 32, 104, 1) 0%, rgba(6, 98, 238, 1) 100%);
    border-radius: 50px;
    color: white;
    height: 5rem;
    width: 80%;
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .navbar-text-container {
        display: flex;

        a {
            padding-right: 2rem;
            justify-content: space-between;
            text-decoration: none;
            color: white;
        }
        a:link {
            text-decoration: none;
        }
    }

    .navbar-logo {
        width: 6rem;
    }
}
