.delivery-table-container {
    color: white;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    background-color: #181a1b;

    .delivery-button-container {
        display: flex;
        justify-content: flex-end;
        padding: 40px 100px;

        .Order-button {
            color: rgb(255, 255, 255);
            border-radius: 50px;
            border: none;
            width: 150px;
            height: 50px;
            background-color: #004daa;
        }
    }

    .delivery-table {
        border: none;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .delivery-table thead {
        border-bottom: solid #222527;
        border-radius: 50%;
        width: 100%;
    }

    .delivery-table td {
        border-width: 0px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 25px 5px;
        word-break: normal;
    }
    .delivery-table th {
        border-width: 0px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }
    .delivery-table .delivery-table-0lax {
        text-align: right;
        vertical-align: top;
    }
}
