body {
    background-color: black;
    //background-image: url("../public/kiwi_bk.png");
    // background-repeat: no-repeat;
    // background-position: 0px 180px;
    // background-size: 100%;

    margin: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
